@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
  --bg-light-color:  #f5f5f7;
  --button-light-color: #fff;
  --purple-color: #a166ff;



  --background-color: #f5f5f7;  
  --home-color: rgb(42,44,48);  
  --calc-color: rgb(43,46,51);  
  --purple-color: #a166ff;
  --fourth-color: #cdcdcd;
  --button-color: green;
  --font-poppins: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--bg-light-color);
  color: var(--fourth-color);
  font-family: var(--font-poppins);
}

.layout-app {
  display: flex;
  flex-direction: column;
}



