.container-main {
  height: calc(100vh - 66px);
  background: var(--background-color);  

  .container-content {
    background-color: var(--button-light-color);
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;  
    margin: 0px auto;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;  
    padding: 25px 0;

    .main-title {
      padding-bottom:30px;
      font-weight: 600;
      color: var(--font-light-color);
    }

    // .main-title-with-observation {
    //   padding-bottom:5px;
    //   font-weight: 600;
    // }

    .observation-title {
      font-size: 12px;
      border: solid 1px var(--purple-color);
      margin: 0 auto;
      padding: 5px 10px;
      margin-bottom: 30px;
      font-weight: 400;
      border-radius: 10px;
    }

    .container-inputs{
      margin: 0 auto;  
      display: flex;   
      gap: 10px;   

      .container-radio-consumo{     

        .container-radio-consumo-2{
          display: flex;
          padding: 8.8px 0;
          
          .container-input-radio {
              width: 60px;
            }
        }
      }
    }    
  }  
}

.label {
  font-family: var(--font-poppins);
  font-size: 12px;
}

.input input {
  width: 450px;
  height: 25px;      
  border-radius: 5px;
  border: solid 1px var(--calc-color);
  transition: 0.5s;
  text-align: center;
  font-size: 15px;
  color: black;      
  background: var(--background-color);
  border: 1px solid black;
  
}

.input input:hover{
  border: solid 1px var(--purple-color);
}  

.input input:focus{
  outline:none;
  border: solid 1px var(--purple-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-individual-input {
  padding: 8px 0;
    
}


.send-button {  
  margin: 30px 10px 30px 0;    
  width: 250px;  
  height: 35px;  
  border-radius: 5px;
}

.clear-button {  
  margin-top: 7.5px;  
  width: 100px; 
  height: 35px;
  border-radius: 5px;   
}

.send-button:hover {
  background: var(--purple-color);
  color: white;
  cursor: pointer;
}

.clear-button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.unit p{
  width: 25px;
  height: 25px;
  margin: 17px 0;
  border-radius: 5px;
  background-color: var(--purple-color);
}




.container-radio {
	display: flex;
  padding: 5px 0 20px 0;
}

.container-radio div{
  display: flex;
	margin: 0 auto;
}

.container-radio input {
	width: 0.1px;
}

.container-radio label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	text-align: center;
	padding: 3px 10px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.2s ease-in-out;
}

.container-radio label:hover {
	cursor: pointer;
}

.container-radio input:checked + label {
	background-color: var(--purple-color);
  color: white;
	box-shadow: none;
}

.container-radio div div:first-of-type {
  label{
    border-radius: 5px 0 0 5px;
  }
}

.container-radio div div:last-of-type {
  label{
    border-radius: 0 5px 5px 0;
  }	
}

