.navbar {
  background-color: var(--bg-light-color);
  //width: 100vw;
  
  .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {   
      color: var(--font-light-color);
      text-decoration: none;
      font-size: 30px;
      font-weight: 800;
    }
  
    a:hover{
      color:var(--purple-color)
    }
  }
}



