.container-homepage{
  //width: 100vw;
  height: calc(100vh - 66px);  
  text-align: center;
  background-color: var(--bg-light-color);
  
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 10px;

    .item{
      aspect-ratio: 1 / 1;    
      background-color: var(--button-light-color);
      box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: auto;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;  
      cursor: pointer;   
      text-decoration: none;
      color: black;      
    }

      .item:hover {
        transform: scale(1.03);
        color:var(--purple-color);      
      }  
  }
  
  @media (max-width: 650px) {
    .main{
      grid-template-columns: 1fr 1fr 1fr;
    }  
  }
}






